@font-face {
  font-family: 'Rustic Printed Stamp';
  src: url('../fonts/rustic-printed-stamp/FontsFree-Net-Rustic-Printed-Stamp.eot');
  src: local('0'), url('../fonts/rustic-printed-stamp/FontsFree-Net-Rustic-Printed-Stamp.woff') format('woff'), url('../fonts/rustic-printed-stamp/FontsFree-Net-Rustic-Printed-Stamp.woff2') format('woff2'), url('../fonts/rustic-printed-stamp/FontsFree-Net-Rustic-Printed-Stamp.ttf') format('truetype'), url('../fonts/rustic-printed-stamp/FontsFree-Net-Rustic-Printed-Stamp.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}
