.footer {

  // .footer__container

  &__container {
    padding-top: 60px;
    padding-bottom: 60px;
    display: grid;
    row-gap: 70px;
    column-gap: 20px;
    grid-template-columns: auto 1fr;
    border-top: 1px solid #DEDFE1;
  }

  // .footer__logo

  &__logo {
  }

  // .footer__menu

  &__menu {
    display: flex;
    justify-content: flex-end;
  }

  // .footer__copyright

  &__copyright {
    text-align: center;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.33;
    @media (min-width: 768px) {
      & {
        grid-column: span 2;
      }
    }

  }
}
.menu-footer {

  // .menu-footer__list

  &__list {
    display: flex;
    column-gap: 45px;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 15px;
  }

  // .menu-footer__item

  &__item {
  }

  // .menu-footer__link

  &__link {
    line-height: 1.3;
    color: inherit;
    &:hover {
      text-decoration: underline;
    }
  }
}
