.main-block {
  // position: relative;
  // &::before {
  //   content: "";
  //   background-image: url('/images/stitches/macrame.svg');
  //   background-repeat: no-repeat;
  //   background-size: 1000px 200px;
  //   top: 450px;
  //   left: -400px;
  //   width: 100%;
  //   height: 100%;
  //   position: absolute;
  //   transform: rotate(35deg);
  //   z-index: -2;
  // }
  // }
  // @include adaptiveValue("padding-top", 180, 50);
  // .main-block__container

  &__container {
    @include adaptiveValue("padding-top", 200, 10);
    @include adaptiveValue("padding-bottom", 100, 10);
    display: grid;
		// grid-template-columns: percent(620, $containerWidth) 1fr;
		grid-template-columns: 40% 1fr;
    @media(max-width: $tablet) {
      // @include adaptiveValue("padding-bottom", 50, 20);
      grid-template-columns: 1fr;
      row-gap: rem(40);
    }
		align-items: center;
  }

  // .main-block__content

  &__content {
    // text-align: center;
    @include adaptiveValue("padding-top", 100, 90);
    @include adaptiveValue("padding-right", 40, 5);
    @media(max-width: $mobile) {
      max-width: 90vw;
    }
    @media(min-width: $mobile) {
      padding-top: rem(50);
    }
    // @media(max-width: $tablet) {
    //   @include adaptiveValue("padding-top", 30, 10);
    // }
    // @include adaptiveValue("padding-bottom", 165, 60);
    // @media(min-width: $tablet) {
    //     @include adaptiveValue("padding-right", 96, 30, 1420, 992, 2);
    // }
    
    // text-shadow: 1px 1px 4px #001b1b;
    // @media(max-width: $tablet) {
    //   padding-top: rem(0);
    // }
  }

  // .main-block__title

  &__title {
    line-height: 1.3;
    font-weight: 700;
    @include adaptiveValue("font-size", 64, 28);
      &:not(:last-child) {
        @include adaptiveValue("margin-bottom", 20, 8);
      }
    @media(max-width: $tablet) {
      text-align: center;
    }
  }

  // .main-block__description

  &__description {
    letter-spacing: 0.05em;
    line-height: 1.6;
    @include adaptiveValue("font-size", 20, 17);
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 48, 20);
    }
  }
}
.media-main-block {

  display: grid;
	grid-template-columns: minmax(300px, 1fr) rem(320); //wtf?
  @include adaptiveValue("gap", 40, 16);
  // @include adaptiveValue("padding-top", 40, 16);
  // gap: rem(32);

  & img {
    max-width: 100%;
  }
  // @media(max-width: 1710px) {
  //     grid-template-columns: 1fr;
  //     // grid-template-rows: 1fr rem(350);
  // }
}
.slider {
  position: relative;
  display: grid;
  grid-template-columns: 1fr auto;
  @include adaptiveValue("gap", 40, 15);
  margin: auto;
  @media(max-width: 480px) {
    grid-template-columns: 1fr;
  }
  @media screen and (max-width: 1180px) and (min-width: $tablet) {
    & {
      gap: rem(15);
    }
  }
  // justify-content: center;
  .slider__wrapper {
    border: 2px solid $main-color;
    // transform: rotate(45deg);
    border-radius: 3%;
    position: relative;
    @include adaptiveValue("width", 620, 290);
    overflow: hidden;
    padding-bottom: 97%;
    @media(min-width: em(425, 16)) {
      padding-bottom: 97%;
      margin: auto;
    }
    @media screen and (max-width: 1170px) and (min-width: $tablet) {
      & {
        @include adaptiveValue("width", 438, 420);
      }
    }
    // @media(min-width: em(500, 16)) {
    //   padding-bottom: 71%;
    // }
    // padding-bottom: 97%;
    // @media(max-width: 1710px) {
    //   & {
    //     @include adaptiveValue("width", 800, 150);
    //     // padding-bottom: 82%;
    //   }
    // }
  }

  .slider__image {
    // transform: rotate(-45deg);
    width: 100%;
    height: 100%;
    border-radius: 3%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
  }
  
  .tools {
    // position: relative;
    display: flex;
    flex-direction: column;
    gap: rem(5);
    justify-content: space-between;
    @media(max-width: 480px) {
      flex-direction: row;
    }
    
      // .tools__item
    &__item {
      border: 2px solid $main-color;
      border-radius: 4%;
      position: relative;
      @include adaptiveValue("height", 120, 70);
      // position: absolute;
      // padding-bottom: 220px;
      // padding-bottom: 28%;
      @include adaptiveValue("width", 220, 70);
      overflow: hidden;
      // @media screen and (max-width: $tablet) and (min-width: $mobile) {
      //   // padding-bottom: 25%;
      //   opacity: 0.5;
      // }
      // @media(min-width: $tablet) {
      //   position: absolute;
      //   top: 0;
      //   left: 0;
      //   height: 0;
      //   padding-bottom: 28%;
      // }

      & img {
        // transform: rotate(-45deg);
        width: 100%;
        height: 100%;
        border-radius: 4%;
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
      }
      @media(min-width: 1500px) {
        & {
          position: absolute;
          top: 0%;
          left: 0%;
          @include adaptiveValue("width", 220, 70);
          padding-bottom: 32%;
        }
      }
    }
    &-item__1 {
      & img {
        transform: scale(2.6);
        top: 21px;
        left: -50px;
      } 
      @media(min-width: 1500px) {
        & {
          top: -17%;
          left: 99%;
        }
        & img {
          top: 68px;
          @include adaptiveValue("top", 70, 21);
          left: -50px;
        } 
      }
    }
    &-item__2 {
      @media(min-width: 1500px) {
        & {
          top: 29%;
          left: 110%;
        }
      }
      @media(min-width: 1700px) {
        & {
          left: 115%;
        }

      }
    }
    &-item__3 {
      @media(min-width: 1500px) {
        & {
          top: 75%;
          left: 104%;
        }
      }
    }
    &-item__4 {
      @media(min-width: 1500px) {
        & {
          top: -18%;
          left: -38%;
        }
      }
    }
  }

  // .tools-item {
  //     // .tools-item__1

  //     &__1 {
  //       // top: percent(380, 974);
  //       // left: percent(237, 1620);
  //       // top: -95px;
  //       top: -14%;
  //       // left: 670px;
  //       left: 103%;
  //       & img {
  //         // filter: contrast(85%) brightness(50%);
  //         transform: scale(2.6);
  //         top: 90px;
  //         left: -50px;
  //       }
  //       // @media(max-width: 1710px) {
  //       //   & {
  //       //     bottom: 0;
  //       //     left: 0;
  //       //   }
  //       // }
  //       @media screen and (max-width: 900px) and (min-width: 500px) {
  //         left: 89%;
  //         top: -14%;
  //         & img {
  //           // filter: contrast(85%) brightness(50%);
  //           transform: scale(2);
  //           top: 40px;
  //           left: -50px;
  //         }
  //       }
  //     }

  //     // .tools-item__2

  //     &__2 {
  //       top: 30%;
  //       left: 114%;
  //       @media screen and (max-width: 900px) and (min-width: 500px) {
  //         left: 89%;
  //         top: 75%;
  //       }
  //     }

  //     // .tools-item__3

  //     &__3 {
  //       top: 74%;
  //       left: 103%;
  //       @media screen and (max-width: 900px) and (min-width: 500px) {
  //         left: 3%;
  //         top: 75%;
  //       }
  //     }

  //     // .tools-item__4

  //     &__4 {
  //       top: -17%;
  //       left: -40%;
  //       @media screen and (max-width: 900px) and (min-width: 500px) {
  //         left: -6%;
  //         top: -5%;
  //       }
  //       & img {
  //       }
  //     }
  // }
}

