.main-block {
padding-top: rem(200);
  // .main-block__container

  &__container {
    display: grid;
		grid-template-columns: percent(620, $containerWidth) 1fr;
		// align-items: center;
  }

  // .main-block__content

  &__content {
    @include adaptiveValue("padding-top", 200, 100);
    @include adaptiveValue("padding-right", 96, 30, 1420, 992, 2);
    font-weight: 700;
    text-shadow: 1px 1px 4px #001b1b;
  }

  // .main-block__title

  &__title {
    @include adaptiveValue("font-size", 64, 40);
      &:not(:last-child) {
        @include adaptiveValue("margin-bottom", 32, 16);
      }
  }

  // .main-block__description

  &__description {
    @include adaptiveValue("font-size", 32, 20);
    line-height: 1.18;
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 48, 30);
    }
  }

  // .main-block__media

  &__media {
    
  }
}
.media-main-block {
  display: grid;
	grid-template-columns: 1fr 300px;
  gap: rem(32);

  & img {
    max-width: 100%;
  }
  // .media-main-block__slider

  &__slider {
  }

  // .media-main-block__tools

  &__tools {
  }
}
.slider {
  
  .slider__wrapper {
    transform: rotate(45deg);
    border-radius: 4%;
    position: relative;
    padding-bottom: rem(620);
    width: rem(620);
    overflow: hidden;
  }

  .slider__image {
    width: 100%;
    height: 100%;
    border-radius: 4%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
  }
  
}

.tools-main-block {
  // .tools-main-block__item

  &__item {
    transform: rotate(45deg);
    border-radius: 4%;
    position: relative;
    padding-bottom: 220px;
    width: 220px;
    overflow: hidden;
    & img {
      width: 100%;
      height: 100%;
      border-radius: 4%;
      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover;
    }
  }
  .tools-item__1 {
    top: -10px;
    left: -60px;
  }
  .tools-item__2 {
    top: -14px;
    left: 100px;
  }
  .tools-item__3 {
    top: -28px;
    left: -72px;
  }
}
