.price {
 
  // .price__container

  &__container {
    @include adaptiveValue("padding-top", 100, 20);
    @include adaptiveValue("padding-bottom", 200, 50);
    display: grid;
    @include adaptiveValue("gap", 50, 20);
    & img {
      max-width: 100%;
    }
  }


  h3 {
    text-align: center;
    color: $accentColor;
    font-weight: 700;
    @include adaptiveValue("font-size", 34, 18);
    &:not(:last-child) {
        @include adaptiveValue("margin-bottom", 50, 16);
      }
  }

  // h3 > span {
  //   @include adaptiveValue("font-size", 28, 18);
  //   color: yellow;
  // }

  [class*="__price"] {
    @include adaptiveValue("font-size", 42, 20);
    color: $errorColor;
    font-weight: 700;
  }
  // .price__title

  &__title {
    font-weight: 700;
    @include adaptiveValue("font-size", 64, 40);
    text-align: center;
  }

  // .price__step1

  &__step1 {
  }

  // .price__step2

  &__step2 {
  }

  // .price__step3

  &__step3 {
  }

  // .price__step4

  &__step4 {
  }
}
.price-step1 {
  & span {
    font-size: rem(22);
    font-weight: 700;
    color: $body-bg;
  }
  // .price-step1__title

  &__title {
  }

  // .price-step1__items

  &__items {
    display: grid;
    grid-template-columns: repeat(3, minmax(290px, 1fr));
    gap: rem(80);
    row-gap: rem(50);
  }

  // .price-step1__item

  &__item {
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.03), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0227778), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0182222), 0px 20px 13px rgba(0, 0, 0, 0.015), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.0117778), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00722222), 3px 44px 54px rgba(0, 0, 0, 0.08);
    border-radius: 5%;
    padding: rem(30);
    display: grid;
    place-items: center;
    // gap: rem(20);
    & img {
      filter: drop-shadow(2px 10px 4px rgba(0, 0, 0, 0.5));
      width: rem(220);
    }
    background-color: #ffffffe7;
    // &:hover {
    //   border: 1px solid transparent;
    //   box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.03), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0227778), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0182222), 0px 20px 13px rgba(0, 0, 0, 0.015), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.0117778), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00722222), 3px 44px 54px rgba(0, 0, 0, 0.08);
    // }
  }
}
.item-step1 {


  &__title {
    font-size: rem(24);
    font-weight: 700;
    &:not(:last-child) {
      margin-bottom: rem(18);
    }
  }
  // .item-step1__image

  &__image {
  }

  // .item-step1__description

  &__description {
    font-size: rem(24);
    font-weight: 700;
    line-height: 1.5;
    &:not(:last-child) {
      margin: rem(18) 0;
    }
  }

  &__list li {
    padding: rem(8) 0;
    line-height: 1.5;
  }

  // .item-step1__price

  &__price {
    margin-top: rem(18);
    text-shadow: 1px 1px 2px #000;
    padding: rem(5) 0;
  }
}
.price-step2 {

  // .price-step2__title

  &__title {
  }

  // .price-step2__items

  &__items {
    display: grid;
    grid-template-columns: repeat(3, minmax(290px, 1fr));
    gap: rem(80);
  }

  // .price-step2__item

  &__item {
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.03), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0227778), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0182222), 0px 20px 13px rgba(0, 0, 0, 0.015), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.0117778), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00722222), 3px 44px 54px rgba(0, 0, 0, 0.08);
    border-radius: 5%;
    padding: rem(40);
    display: grid;
    place-items: center;
    background-color: #ffffffe7;
  }
}
.item-step2 {

  // .item-step2__image

  &__image {
    // filter: drop-shadow(14px 10px 6px rgba(0, 0, 0, 0.5));
    width: rem(220);
    height: rem(360);
    filter: drop-shadow(2px 10px 4px rgba(0, 0, 0, 0.5));
    border-radius: 15%;
  }

  // .item-step2__description

  &__description {
    text-align: center;
    font-size: rem(24);
    font-weight: 700;
    line-height: 1.5;
    // &:not(:last-child) {
    //   margin: rem(18) 0 rem(8) 0;
    // }
  }

  // .item-step2__price

  &__price {
    margin-top: rem(18);
  }
}
.price-step3 {

  // .price-step3__title

  &__title {
  }

  // .price-step3__items

  &__items {
    display: grid;
    grid-template-columns: repeat(2, minmax(290px, 1fr));
    gap: rem(80);
  }

  // .price-step3__item

  &__item {
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.03), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0227778), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0182222), 0px 20px 13px rgba(0, 0, 0, 0.015), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.0117778), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00722222), 3px 44px 54px rgba(0, 0, 0, 0.08);
    border-radius: rem(20);
    padding: rem(40);
    display: grid;
    place-items: center;
    background-color: #ffffffe7;
  }
}
.item-step3 {

  // .item-step3__image

  &__image {
    border-radius: 15%;
    &:not(:last-child) {
      margin-bottom: rem(30);
    }
  }

  // .item-step3__description

  &__description {
    &:not(:last-child) {
      margin-bottom: rem(30);
    }
    font-weight: 700;
    font-size: rem(24);
  }
}
.price-step4 {

  // .price-step4__title

  &__title {
  }

  // .price-step4__description

  &__description {
    line-height: 1.5;
  }
}
