@use "sass:math";
@import '_mixins';
@import '_fonts';


$fontFamily: 'M PLUS 1', sans-serif;
$fontSize: rem(20);

$main-color: #8eadab;
$body-bg: #324a48;
$text-color: #ebebeb;
$menu-bg: #49845fec;
$items-text-color: #523017;
$accent-color: #98e498;
$price-item-bg: #ffffffe7;
$price-color: #2e5c22;
$modal-btn-bg: #587c76c1;
$modal-bg: rgba(0, 0, 0, 0.5);
$error-Ñolor: rgba(250, 4, 4, 0.6);

$minWidth: 320;
$maxWidth: 1920;
$maxWidthContainer: 1520;
$containerPadding: 30;

$containerWidth: $maxWidthContainer + $containerPadding;

$pc: em($containerWidth); 
$tablet: em(991.98); 
$mobile: em(767.98); 
$mobileSmall: em(479.98);

$responsiveType: 1;

@import '_null';


@if ($responsiveType==1) {
	[class*="__container"] {
		@if ($maxWidthContainer>0) {
			max-width: rem($containerWidth);
			margin: 0 auto;
		}
		@if ($containerPadding>0) {
			@if ($maxWidthContainer>0) {
				padding: 0 rem(math.div($containerPadding, 2));
			} @else {
				@include adaptiveValue("padding-left", math.div($containerPadding, 2), 15);
				@include adaptiveValue("padding-right", math.div($containerPadding, 2), 15);
			}
		}
	}
} @else {
	[class*="__container"] {
		margin: 0 auto;
		@if ($maxWidthContainer>0) {
			max-width: rem($containerWidth);
		} @else {
			@if ($containerPadding>0) {
				padding: 0 rem(math.div($containerPadding, 2));
			}
		}
		@media (max-width: $pc) {
			max-width: rem(970);
		}
		@media (max-width: $tablet) {
			max-width: rem(750);
		}
		@media (max-width: $mobile) {
			max-width: none;
			@if ($containerPadding>0 and $maxWidthContainer>0) {
				padding: 0 rem(math.div($containerPadding, 2));
			}
		}
	}
}

body {
	// background:
	// radial-gradient(black 15%, transparent 16%) 0 0,
	// radial-gradient(black 15%, transparent 16%) 8px 8px,
	// radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
	// radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
	// background-color:#282828;
	// background-size:16px 16px;
	// background-color: #ffe;
	background-color: $body-bg;
	color: $text-color;
	// background:
	// radial-gradient(black 15%, transparent 16%) 0 0,
	// radial-gradient(black 15%, transparent 16%) 8px 8px,
	// radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
	// radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
	// background-color:#e1d8d8;
	// background-size:16px 16px;
}

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	@supports (overflow: clip) {
		overflow: clip;
	}
	
	> main {
		flex: 1 1 auto;
	}
	
	> * {
		min-width: 0;
	}
}

[class*="__container"] {
	max-width: rem($containerWidth);
	box-sizing: content-box;
	margin: auto;
}

// [class*="-ibg"] {
// 	position: relative;
// 	img {
// 		position: absolute;
// 		width: 100%;
// 		height: 100%;
// 		top: 0;
// 		left: 0;
// 		object-fit: cover;
// 	}
// }


.title {
  text-align: center;
  font-weight: 700;
  @include adaptiveValue("font-size", 40, 20);
  &:not(:last-child) {
    @include adaptiveValue("margin-bottom", 50, 20);
  }
}


@import '_header';
@import '_main-block';
@import '_gallery';
@import '_price';
@import '_materials';
@import '_faq';
@import '_footer';