@use "sass:math";
@import '_mixins';
@import '_fonts';

$fontFamily: "Rustic Printed Stamp";
$fontSize: rem(84);

$mainColor: #000;
$body-bg: #263238;
$menu-bg: #13181bec;
$accentColor: #23B123;
$accentHover: #008000;
$errorColor: rgba(250, 4, 4, 0.6);
$image-bg: rgba(255, 255, 255, 0.05);
$howIcons-bg: rgba(0, 128, 0, 0.1);
$footerBorder: rgba(255, 255, 255, 0.42);

$minWidth: 320;
$maxWidth: 1920;
$maxWidthContainer: 1620;
$containerPadding: 30;

$containerWidth: $maxWidthContainer + $containerPadding;

$pc: em($containerWidth); 
$tablet: em(991.98); 
$mobile: em(767.98); 
$mobileSmall: em(479.98);

@import '_null';


.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	@supports (overflow: clip) {
		overflow: clip;
	}
	
	> main {
		flex: 1 1 auto;
	}
	
	> * {
		min-width: 0;
	}
}

[class*="__container"] {
	max-width: rem($containerWidth);
	box-sizing: content-box;
	margin: auto;
}