@use "sass:math";
@import '_mixins';
@import '_fonts';

$fontFamily: 'M PLUS 1', sans-serif;
$fontSize: rem(18);

$mainColor: #999b9b;
$mainColor: #0c8484;
$body-bg: #263238;
$menu-bg: #13181bec;
$accentColor: #23B123;
$accentHover: #98e498;
$errorColor: rgba(250, 4, 4, 0.6);
$image-bg: rgba(255, 255, 255, 0.05);
$howIcons-bg: rgba(0, 128, 0, 0.1);
$footerBorder: rgba(255, 255, 255, 0.42);

$minWidth: 320;
$maxWidth: 1920;
$maxWidthContainer: 1620;
$containerPadding: 30;

$containerWidth: $maxWidthContainer + $containerPadding;

$pc: em($containerWidth); 
$tablet: em(991.98); 
$mobile: em(767.98); 
$mobileSmall: em(479.98);

$responsiveType: 1;

@import '_null';

body {
	background:
	radial-gradient(black 15%, transparent 16%) 0 0,
	radial-gradient(black 15%, transparent 16%) 8px 8px,
	radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
	radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
	background-color:#282828;
	background-size:16px 16px;
}

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	@supports (overflow: clip) {
		overflow: clip;
	}
	
	> main {
		flex: 1 1 auto;
	}
	
	> * {
		min-width: 0;
	}
}

[class*="__container"] {
	max-width: rem($containerWidth);
	box-sizing: content-box;
	margin: auto;
}

// [class*="-ibg"] {
// 	position: relative;
// 	img {
// 		position: absolute;
// 		width: 100%;
// 		height: 100%;
// 		top: 0;
// 		left: 0;
// 		object-fit: cover;
// 	}
// }

@if ($responsiveType==1) {
	[class*="__container"] {
		@if ($maxWidthContainer>0) {
			max-width: rem($containerWidth);
			margin: 0 auto;
		}
		@if ($containerPadding>0) {
			@if ($maxWidthContainer>0) {
				padding: 0 rem(math.div($containerPadding, 2));
			} @else {
				@include adaptiveValue("padding-left", math.div($containerPadding, 2), 15);
				@include adaptiveValue("padding-right", math.div($containerPadding, 2), 15);
			}
		}
	}
} @else {
	[class*="__container"] {
		margin: 0 auto;
		@if ($maxWidthContainer>0) {
			max-width: rem($containerWidth);
		} @else {
			@if ($containerPadding>0) {
				padding: 0 rem(math.div($containerPadding, 2));
			}
		}
		@media (max-width: $pc) {
			max-width: rem(970);
		}
		@media (max-width: $tablet) {
			max-width: rem(750);
		}
		@media (max-width: $mobile) {
			max-width: none;
			@if ($containerPadding>0 and $maxWidthContainer>0) {
				padding: 0 rem(math.div($containerPadding, 2));
			}
		}
	}
}

@import '_header';
@import '_main-block';

